In [1]:
import pandas as pd
import yfinance as yf
import time

In [3]:
start_day = '2022-01-01'

def get_One_Asset(company, start_day):
    df = pd.DataFrame()
    returns = yf.Ticker(company)
    data = returns.history(period="1y", start=start_day)
    df.index = data.index
    df[company] = data.Close
    return df

In [4]:
company = 'BA'
asset = get_One_Asset(company, start_day)
asset.head()

                                   BA
Date
2022-01-03 00:00:00-05:00  207.860001
2022-01-04 00:00:00-05:00  213.630005
2022-01-05 00:00:00-05:00  213.070007
2022-01-06 00:00:00-05:00  211.339996
2022-01-07 00:00:00-05:00  215.500000

In [ ]:
filename = 'BAData.csv'
asset.to_csv(filename, index=True)